@model IEnumerable < TruYumMVCExercise.Models.Cart>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>
<h4>Bill amount is <i>@ViewBag.amount</i> Rs.</h4>
